<div class="page">
  <header role="banner">
    <div class="header-menu">
      {{ page.header }}
    </div>
    <div class="header-background">
      {{ page.background }}
      {{ page.text }}
    </div>
  </header>
  {{ page.primary_menu }}
  {{ page.highlighted }}
  <div class="main__content">
    <main role="main">
      {{ page.content }}
    </main>
  </div>
  <div class="slider">
    {{ page.slider }}
  </div>
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
</div>
